<!DOCTYPE html>
<html lang="en">

<head>
    <title>遊戲首富線上商城</title>
    <!-- <meta charset="utf-8"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default rounded borders and increase the bottom margin */

.navbar {
margin-bottom: 50px;
border-radius: 0;
}
/* Remove the jumbotron's default bottom margin */

.jumbotron {
margin-bottom: 0;
}
/* Add a gray background color and some padding to the footer */

footer {
background-color: #f2f2f2;
padding: 25px;
}

@media (min-width:500px) {
#searchbar{
width: 500px;
}
}

#searchbar{
margin: 20px auto;
}

.text_center{
text-align: center
}
.text_center > span {
	color: firebrick;
    font-weight: bolder;
}
</style>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首頁</a></li>
                    <li><a href="#">關於本站</a></li>
                    <li><a href="test.php">Deals</a></li>
                    <li><a href="store.php?category=0">線上商店</a></li>
                    <li><a href="#">聯繫我們</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
<!--
                    <li><a href="login.html"><span class="glyphicon glyphicon-user"></span>登入/註冊</a></li>
                    <li><a href="account.html"><span class="glyphicon glyphicon-user"></span>會員中心</a></li>
-->
                    {$welcome}
                    <li><a href="cart.php?add_to_cart=no"><span class="glyphicon glyphicon-shopping-cart"></span>購物車</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container text-center">
            <h2>Welcome to</h2>
            <h1>遊戲首富</h1>
        </div>
    </div>

    <div class="input-group" id="searchbar">
        <input type="text" class="form-control" placeholder="搜尋商品.." id="search_text">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="search_btn">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>

<!--
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">BLACK FRIDAY DEAL</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">BLACK FRIDAY DEAL</div>
                    <div class="panel-body">
                        <a href="item.html"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></a>
                    </div>
                    <div class="panel-footer" style="text-align: center;">遊戲寶物2</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">BLACK FRIDAY DEAL</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
        </div>
    </div><br>
-->

    <div class="container">
        <div class="row">
            <h2 class="text_center"><span class="panel panel-danger">&nbsp&nbsp熱門商品 HOT!!&nbsp&nbsp</span></h2><br>
            {foreach from=$all_goods item=goods}
            <!-- <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">BLACK FRIDAY DEAL</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">BLACK FRIDAY DEAL</div>
                    <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div> -->
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading text_center">{$goods.category}</div>
                    <!-- <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div> -->
                    <div class="panel-body">
                        <a href="item_detail.php?pNo={$goods.pNo}"><img src="uploads/{$goods.pNo}" class="img-responsive" style="margin:auto;height:200px;" alt="Image"></a>
                    </div>
                    <div class="panel-footer text_center">{$goods.pName} ${$goods.unitPrice}</div>
                </div>
            </div>
            {/foreach}
        </div>
    </div>

    <div class="align_center">
        <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>

    <footer class="container-fluid text-center">
        <p>Game-Online-Store Copyright by Wei-Cheng Shih 2018</p>
        <form class="form-inline">Get deals:
            <input type="email" class="form-control" size="50" placeholder="Email Address">
            <button type="button" class="btn btn-danger">Sign Up</button>
        </form>
    </footer>
</body>

<script>
    $(document).ready(function() {
        $("#search_btn").click(function(){
            $search_text = $("#search_text").val();
            $(location).attr('href', 'store.php?category=7&search_text='+$search_text);
        });
    });

</script>

</html>
